# Build directories
bin/
obj/

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# OS and Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Coverage
*.lst
